<div class="container my-3">
  <div class="row mt-5 mb-3 d-flex justify-content-between">
    <h4 class="my-5">Clients List</h4>
    <button type="button" class="my-5 btn btn-general shadow text-white" onClick="goToNewClientPage()">+ Add Client</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Alt Phone</th>
        <!--th scope="col">Clinician</th-->
      </tr>
    </thead>
    <tbody>
      {{#each clients}}
      <tr>
        <td>
          <a href="/clients/{{ client_id }}">
            {{ last_name }}, {{ first_name }}
          </a>
        </td>
        <td>{{ email }}</td>
        <td>{{ primary_phone }}</td>
        <td>{{ alt_phone }}</td>
        <!--td></td-->
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  function goToNewClientPage() {
    document.location.replace('/clients/new');
  }
</script>