<div class="container my-3">
  <div class="row mt-5 mb-3 d-flex justify-content-between">
    <h4>Clients List</h4>
    <button type="button" class="btn btn-general shadow text-white" onClick="goToNewClientPage()">+ Add Client</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Alt Phone</th>
        <!--th scope="col">Clinician</th-->
      </tr>
    </thead>
    <tbody>
      {{#each clients}}
      <tr>
        <td>
          <a href="/clients/{{ client_id }}">
            {{ last_name }}, {{ first_name }}
          </a>
        </td><a href="mailto:webmaster@example.com">Jon Doe</a>
        <td><a href="mailto:{{ email }}">{{ email }}</a></td>
        <td><a href="tel:{{ primary_phone }}">{{ primary_phone }}</a></td>
        <td><a href="tel:{{ alt_phone }}">{{ alt_phone }}</a></td>
        <!--td></td-->
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  function goToNewClientPage() {
    document.location.replace('/clients/new');
  }
</script>