<div class="container my-3">
  {{#if relations.length }}
  <div class="row mt-5 mb-3 d-flex justify-content-between">
    <h4>Clients List</h4>
    <button type="button" class="new-relation btn btn-general shadow text-white">+ Add Client</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col" class="text-center"># Tx Dates</th>
      </tr>
    </thead>
    <tbody>
      {{#each relations as |relation| }}
      <tr>
        <td>
          <a href="/clients/{{ relation.client_id }}">
            {{ relation.client.last_name }}, {{ relation.client.first_name }}
          </a>
        </td>
        <td><a href="mailto:{{ relation.client.email }}">{{ relation.client.email }}</a></td>
        <td><a href="tel:{{ relation.client.primary_phone }}">{{ relation.client.primary_phone }}</a></td>
        <td>{{ format_date relation.start_date }}</td>
        {{#if relation.end_date }}
          <td>{{ format_date relation.end_date }}</td>
        {{else}}
          <td>ongoing</td>
        {{/if}}
        <td class="text-center">{{ relation.tx_dates_nb }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>
<script>
  function goToNewClientPage() {
    document.location.replace('/clients/new');
  }
</script>