<article class="row d-block w-100 mt-5">
  <form id="readonly">
    <p class="text-right">
      <a href="/users/edit/{{ user.user_id }}">
        Edit {{ user.first_name }} {{ user.last_name }}'s information
      </a>
    </p>
    <h3 class="mt-3">Personal Information</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userFirstName">First Name</label>
        <input type="text" class="form-control" id="userFirstName" value="{{ user.first_name }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="userLastName">Last Name</label>
        <input type="text" class="form-control" id="userLastName" value="{{ user.last_name }}" readonly/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userDob">Date of Birth</label>
        <input type="date" class="form-control" id="userDob" value="{{ format_date user.dob }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="userSsn">Social Security #</label>
        <input type="text" class="form-control" id="userSsn" value="{{ user.ssn }}" readonly/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userUsername">Username</label>
        <input type="text" class="form-control" id="userUsername" value="{{ user.username }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" value="{{ user.password }}" readonly/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <div class="form-check">
          {{#if user.active}}
            <input class="form-check-input" type="checkbox" id="userActive" value="true" checked readonly/>
          {{else}}
            <input class="form-check-input" type="checkbox" id="userActive" value="false" readonly/>
          {{/if}}
          <label class="form-check-label" for="userActive">
            Active
          </label>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="userAccessType">Access Type</label>
        <input type="text" class="form-control" id="userAccessType" value="{{ user.access.access_type }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="userAccessDesc">Description</label>
        <input type="text" class="form-control" id="userAccessDesc" value="{{ user.access.access_desc }}" readonly/>
      </div>
    </div>
    <h3 class="mt-3">Contact Information</h3>
    <div class="form-group">
      <label for="userEmail">Email</label>
      <input type="email" class="form-control" id="userEmail" value="{{ user.email }}" readonly/>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userPrimaryPhone">Mobile Phone</label>
        <input type="phone" class="form-control" id="userPrimaryPhone" value="{{ user.primary_phone }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="userAltPhone">Other Phone</label>
        <input type="phone" class="form-control" id="userAltPhone" value="{{ user.alt_phone }}" readonly/>
      </div>
    </div>
    <div class="form-group">
      <label for="userStreetAddress">Street Address</label>
      <input type="text" class="form-control" id="userStreetAddress" value="{{ user.street_address }}" readonly/>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="userCity">City</label>
        <input type="text" class="form-control" id="userCity" value="{{ user.city }}" readonly/>
      </div>
      <div class="form-group col-md-4">
        <label for="userState">State</label>
        <input type="text" class="form-control" id="userState" value="{{ user.state }}" readonly/>
      </div>
      <div class="form-group col-md-2">
        <label for="userZip">Zip</label>
        <input type="text" class="form-control" id="userZip" value="{{ user.zip }}" readonly/>
      </div>
    </div>
    <h3 class="mt-3">Clinician Information</h3>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="userLicenseNb">License #</label>
        <input type="text" class="form-control" id="userLicenseNb" value="{{ user.license_number }}" readonly/>
      </div>
      <div class="form-group col-md-3">
        <label for="userLicenseType">License type</label>
        <input type="text" class="form-control" id="userLicenseType" value="{{ user.license_type }}" readonly/>
      </div>
      <div class="form-group col-md-3">
        <label for="userLicenseExpiration">License Expiration</label>
        <input type="date" class="form-control" id="userLicenseExpiration" value="{{ format_date user.license_expiration }}" readonly/>
      </div>
      <div class="form-group col-md-3">
        <label for="userNpiNb">NPI #</label>
        <input type="text" class="form-control" id="userNpiNb" value="{{ user.npi_number }}" readonly/>
      </div>
    </div>
  </form>
    <!--p>
      {{ user.first_name }} {{ user.last_name }} has {{ user.clients_nb }} {{ format_plural "client" user.clients_nb }}.  
    </p>
    <p class="text-right">
      <a href="/clients/records/{{ client.client_id }}" class="edit-link">
        View {{ user.first_name }} {{ user.last_name }}'s {{ format_plural "client" user.clients_nb }}
      </a>
    </p-->
</article>

<div class="mt-3 clients-list">
  <h5>
    {{ user.clients_nb }} {{ format_plural "client" user.clients_nb }}:
  </h5>
  <table class="table table-hover mx-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Alt Phone</th>
      </tr>
    </thead>
    <tbody>
      {{#each user.clients}}
      <tr>
        <td>
          <a href="/clients/{{ client_id }}">
            {{ first_name }} {{ last_name }}
          </a>
        </td>
        <td>{{ email }}</td>
        <td>{{ primary_phone }}</td>
        <td>{{ alt_phone }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div> 