<article class="row d-block w-100 mt-5">
  <form>
    <h3 class="mt-3">Personal Information</h3>
    <p>Edit Personal Information</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientFirstName">First Name</label>
        <input type="text" class="form-control" id="clientFirstName" value="{{ client.first_name }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientLastName">Last Name</label>
        <input type="text" class="form-control" id="clientLastName" value="{{ client.last_name }}" readonly/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientDob">Date of Birth</label>
        <input type="date" class="form-control" id="clientDob" value="{{ client.dob }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientSsn">Social Security #</label>
        <input type="text" class="form-control" id="clientSsn" value="{{ client.ssn }}" readonly/>
      </div>
    </div>
    {{!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientclientname">clientname</label>
        <input type="text" class="form-control" id="clientclientname" value="{{ client.clientname }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientPassword">Password</label>
        <input type="password" class="form-control" id="clientPassword" value="{{ client.password }}" readonly/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="clientActive" value="" readonly/>
          <label class="form-check-label" for="clientActive">
            Active
          </label>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="clientAccessType">Access Type</label>
        <input type="text" class="form-control" id="clientAccessType" value="{{ client.access.access_type }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientAccessDesc">Description</label>
        <input type="text" class="form-control" id="clientAccessDesc" value="{{ client.access.access_desc }}" readonly/>
      </div>
    </div> --}}
    <h3 class="mt-3">Contact Information</h3>
    <p>Edit Contact Information</p>
    <div class="form-group">
      <label for="clientEmail">Email</label>
      <input type="email" class="form-control" id="clientEmail" value="{{ client.email }}" readonly/>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientPrimaryPhone">Mobile Phone</label>
        <input type="phone" class="form-control" id="clientPrimaryPhone" value="{{ client.primary_phone }}" readonly/>
      </div>
      <div class="form-group col-md-6">
        <label for="clientAltPhone">Other Phone</label>
        <input type="phone" class="form-control" id="clientAltPhone" value="{{ client.alt_phone }}" readonly/>
      </div>
    </div>
    <div class="form-group">
      <label for="clientStreetAddress">Street Address</label>
      <input type="text" class="form-control" id="clientStreetAddress" value="{{ client.street_address }}" readonly/>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientCity">City</label>
        <input type="text" class="form-control" id="clientCity" value="{{ client.city }}" readonly/>
      </div>
      <div class="form-group col-md-4">
        <label for="clientState">State</label>
        <input type="text" class="form-control" id="clientState" value="{{ client.state }}" readonly/>
      </div>
      <div class="form-group col-md-2">
        <label for="clientZip">Zip</label>
        <input type="text" class="form-control" id="clientZip" value="{{ client.zip }}" readonly/>
      </div>
    </div>
    <h3 class="mt-3">Additional Client Information</h3>
    <p>Edit Additional Clinician Information</p>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="clientGender">Gender</label>
            <input type="text" class="form-control" id="clientGender" value="{{ client.gender }}" readonly/>
        </div>
        <div class="form-group col-md-3">
            <label for="clientEthnicity">Ethnicity</label>
            <input type="text" class="form-control" id="clientEthnicity" value="{{ client.ethnicity }}" readonly/>
        </div>
        <div class="form-group col-md-3">
            <label for="clientRelationshipStatus">Relationship Status</label>
            <input type="date" class="form-control" id="clientRelationshipStatus" value="{{ client.relationship_status }}" readonly/>
        </div>
        <div class="form-group col-md-3">
            <label for="clientEmploymentStatus">Employment Status</label>
            <input type="text" class="form-control" id="clientEmploymentStatus" value="{{ client.employment_status }}" readonly/>
        </div>
        <div class="form-group col-md-3">
            <label for="clientPreferredLanguage">Preferred Language</label>
            <input type="date" class="form-control" id="clientPreferredLanguage" value="{{ client.preferred_language }}" readonly/>
        </div>
        <div class="form-group col-md-3">
            <label for="clientReferredBy">Referred By</label>
            <input type="text" class="form-control" id="clientReferredBy" value="{{ client.referred_by }}" readonly/>
        </div>
    </div>
    <div class="form-row">
      <div>{{ client.first_name }} {{ client.last_name }} has {{ client.users_nb }} for a doctor.</div>
      <div>View {{ client.first_name }} {{ client.last_name }}'s doctor(s)</div>
    </div>
  </form>
</article>
<script src="/js/edit-client.js"></script>
<script src="/js/delete-client.js"></script>