<div class="container my-3">
  <article class="row d-block w-100 mt-5">
    <form id="readonly">
      <p class="text-right">
        <a href="/dashboard/tx/edit/client/{{ client.client_id }}" class="edit-link">
          Edit {{ client.first_name }} {{ client.last_name }}'s information
        </a>
      </p>

    {{> client-info client }}

    </form>
  </article>


  <div class="row mt-5 mb-3 d-flex justify-content-between">
    <h3>Treatments Made</h3>
    <button type="button" class="btn btn-general shadow text-white" onClick="goToNewTxPage()">+ Add Treatment</button>
  </div>
  <div class="treatments-list">
    {{#each treatments as |tx| }}
      <p>Date: {{ format_date tx.tx_date }}</p>
      <p>Procedure(s):</p>
      <ul>
        {{#if tx.procedure.length }}
          {{#each tx.procedure }}
          <li>
            {{ tx.procedure.procedure_name }} ({{ tx.procedure.cpt_code }}, {{ tx.procedure.duration }})
          </li>
          {{/each}}
        {{else}}
          <li>
            {{ tx.procedure.procedure_name }} ({{ tx.procedure.cpt_code }}, {{ tx.procedure.duration }})
          </li>
        {{/if}}
      </ul>
    {{/each}}
  </div>
</div>
<script>
  function goToNewTxPage() {
    document.location.replace('/treatments/new');
  }
</script>