<article class="row d-block w-100 mt-5">

  {{> client-info treatments.relation.client }}

</article>
<div class="mt-3 treatments-list">
  {{#each treatments as |tx| }}
    <p>Tx Date: {{ format_date tx.tx_date }}</p>
    <p>Procedure(s):</p>
    <ul>
      {{#if tx.procedure.length }}
      {{#each tx.procedure }}
      <li>
        {{ tx.procedure.procedure_name }} ({{ tx.procedure.cpt_code }}, {{ tx.procedure.duration }})
      </li>
      {{/each}}
      {{else}}
      <li>
        {{ tx.procedure.procedure_name }} ({{ tx.procedure.cpt_code }}, {{ tx.procedure.duration }})
      </li>
      {{/if}}
    </ul>
  {{/each}}

</div> 